h1{
    color: red;
    background-color: black;
}
h2{
    color: aliceblue;
    background-color: black;
    
}
p{
    font-size: 48px;
    background-color: brown;
    color: white;
}
i{
    color: yellow;
    background-color: black;
    font-size: 28px;
}